@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
/* Colors */
--color-cream: #F3EFEE;
--color-wine: #8C4F58;
--color-brown: #4B3A33;
--color-taupe: #AC9990;
--color-rose: #AB8068;
--color-light: #FAF8F7;
--color-glass: rgba(255, 255, 255, 0.7);

/* Fonts */
--font-inter: "Inter", sans-serif;
--font-georgia: "Georgia", serif;
}